extends ../layout
block vars
  - title = locals.query || 'Resultados de Búsqueda'
block content
  if results.length
    table
      thead
        td Link
        td Título
        td Categoría
        td Seeders
        td Leechers
      each torrent in results
        tr
          td
            a(href=torrent.magnet, title='Descargar') Link
          td= torrent.title
          td= torrent.category
          td= torrent.seeders
          td= torrent.leechers
  else
    h1 nada :(
