extends ../layout

append vars
  - title = locals.query || 'Resultados de Búsqueda'

block content
  if env.development
    script console.log(!{JSON.stringify(results)})
  if results && results.length
    .results-table
      table
        tbody
          each torrent in results
            tr
              td
                a(href=torrent.magnetLink, title='Descargar') Link
              td
                = torrent.name
                if torrent.category
                  span= torrent.category.name
                if torrent.subcategory
                  span= torrent.subcategory.name
              td= torrent.size || ''
              td #{torrent.seeders} · #{torrent.leechers}
  else
    h1 :(
