extends ../layout

append vars
  - title = locals.query || 'Resultados de Búsqueda'

block content
  if results && results.length
    .results-table
      table
        tbody
          each torrent in results
            tr
              td
                a(href=torrent.magnetLink, title='Descargar') Link
              td= torrent.name
              td= torrent.size || ''
              td #{torrent.seeders} · #{torrent.leechers}
  else
    h1 nada encontrado :(
