script.
  ;(function(w,d){
    var r=w.requestAnimationFrame||w.mozRequestAnimationFrame||w.webkitRequestAnimationFrame||w.msRequestAnimationFrame||function(z){z()}
    var cs=[],ps=0
    function p(){ps--;if(!ps)for(var i in cs){r(cs.shift())}}
    var o=('onload' in d.createElement('link'))
    w.css=function(u,c){
      if(o){ps++;if(c)cs.push(c)}
      r(function(){var l=d.createElement('link');l.rel='stylesheet';
      l.href=u;l.onload=(o?p:c);l.onerror=(o?p:c)
      var h=d.getElementsByTagName('head')[0];h.parentNode.insertBefore(l, h)})
    }
  })(window,document)