script.
  ;(function(w,d){
    var cs = [], ps = 0
    function p(){ ps--
      if(!ps) for(var i in cs){cs.shift()()}
    }
    var o=('onload' in d.createElement('link'))
    w.css=function(u, c){
      ps++;if(c)cs.push(c)
      var f=function(){
        var l=d.createElement('link');l.rel='stylesheet';l.href=u;l.onload=(o?p:c)
        var h=d.getElementsByTagName('head')[0];h.parentNode.insertBefore(l, h) }
      var r=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame
      if(r){r(f)}else{window.addEventListener('load', f)}
    }
  })(window,document)