block vars
doctype html
html(lang='es', prefix='og: http://ogp.me/ns#')
  head
    title #{title ? title + ' | ' : ''}La Bahía Pirata
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    include partials/seo-tags
    block meta
    style body{background-color:#F0EFED}header .h{opacity:0}
    style body.l{color:transparent!important}body.l header{opacity:0}
  body(class=bodyClass)
    script if('onload' in document.createElement('link'))document.body.className+=' l'
    block top
    header
      label(for='search-query')
        h1
          span.t La Bahía Pirata
          span.h |
          span.h.th The Pirate Bay Proxy
      form(action='/search', onsubmit='if( !this.elements.query.value ) { location = \'/\'; return false }')
        .input-wrapper
          input(id='search-query', type='text', name='query', value=locals.query, title='Búsqueda Pirata', autofocus=true)
        button(type='submit') Buscar
    block content
    block bottom
    include partials/async-css
    //- script loadCachedCss('/css/app.css')
    //- script loadCachedCss('//fonts.googleapis.com/css?family=Quattrocento:400,700', function(){ var b=document.body;b.className=b.className.replace(/\bl\b/,"") })
    link(href='/css/app.css', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Quattrocento:400,700', rel='stylesheet', type='text/css')
    script var b=document.body;b.className=b.className.replace(/\bl\b/,"")
    include partials/google-analytics